<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redact PDF</title>
    <link rel="stylesheet" href="../static/css/pdf_redactor.css">
</head>
<body>

<div class="container">
    <h1>PDF Redactor</h1>
    <p>Upload a PDF file to redact personal information (e.g., credit card numbers, NRIC, etc.)</p>

    <!-- Form for file upload -->
    <form action="{{ url_for('redact.redact_upload') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Choose a PDF file</label>
            <input type="file" class="form-control" name="file" id="file" accept=".pdf" required>
        </div>

        <div class="form-group">
            <button type="submit">Upload and Redact</button>
        </div>

        <!-- Display flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="error-message">
                    {% for category, message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </form>
    <div class="form-group">
        <a href="{{ url_for(role_redirects.get(session.get('role','home'))) }}" class="back-button">Back To Home</a>
    </div>
</div>

</body>
</html>
