<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="/static/css/upload.css">
    <script src="/static/js/virus_total_check.js"></script>
</head>
<body>

    <div class="container">

        <div class="title">
            <h1>Upload File</h1>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        <!-- The form for file upload -->
        <form id="upload-form" action="{{ url_for('file.upload_file') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Choose file:</label>
                <input type="file" name="file" id="file" required>
            </div>
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" placeholder="Enter file title" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" id="description" placeholder="Enter file description" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit" id="upload-btn">Upload</button>
                <button type="submit" id="back-btn">Back</button>
            </div>
        </form>

        <!-- Message display -->
        <div id="message"></div>

    </div>
</body>
</html>
